<%- include('partials/header'); -%>

<header>
  <div class="dashboard">
    <img src="/task.png" alt="">
  </div>
  <div class="headings">
    <h2>Task Management Tool</h2>
    <h3>By Arman Vardanyan</h3>
    <a href="/dashboard" class="btn">View Tasks</a>
  </div>
</header>


<%- include('partials/footer'); -%>
