<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Tasks List</title>
  <link rel="stylesheet" href="/styles.css"> 
</head>

<body>
  <h1>Tasks List</h1>
  <a href="/createtask" class="btn">Create New Task</a>

  <div class=" board">
    <div class="column" data-column="todo">
      <div class="column-header">To Do</div>
      <div class="dropzone">
        <% if ( typeof tasks !="undefined" && tasks.length===0) { %>
          <tr>
            <td colspan="6">No tasks available. Create a new task!</td>
          </tr>
          <% } else { %>
            <% tasks.forEach(task=> { %>
              <div class="card" draggable="true">
                <h3>
                  <%= task.title %>
                </h3>
                <p>
                  <%= task.priority %>
                </p>
                <p>
                  <%= task.description %>
                </p>
                <p>
                  <% task.assignedUser %>
                </p>
                <p>
                  <% task.dueDate %>
                </p>
              </div>
              <% }); %>
                <% } %>
      </div>
    </div>

    <div class="column" data-column="in-progress">
      <div class="column-header">In Progress</div>
      <div class="dropzone">

      </div>
    </div>

    <div class="column" data-column="done">
      <div class="column-header">Done</div>
      <div class="dropzone">
        <div class="card" draggable="true">
          <h3>title</h3>
          <p>status</p>
          <p>High || Middle || Low</p>
          <p>description</p>
          <p>assigned user</p>
          <p>due data</p>
        </div>
      </div>
    </div>
  </div>
  <script>
    let isAdmin = true;



    const cards = document.querySelectorAll('.card');
    const dropzones = document.querySelectorAll('.dropzone');
    const toggleAdminButton = document.getElementById('toggleAdmin');
    const addCardButton = document.getElementById('addCard');



    function enableCardDragging(card) {
      card.addEventListener('dragstart', () => {
        card.classList.add('dragging');
      });

      card.addEventListener('dragend', () => {
        card.classList.remove('dragging');
      });
    }

    cards.forEach(enableCardDragging);

    dropzones.forEach(dropzone => {
      dropzone.addEventListener('dragover', event => {
        event.preventDefault();
        const draggingCard = document.querySelector('.dragging');
        const sourceColumn = draggingCard.parentElement.parentElement.getAttribute('data-column');
        const targetColumn = dropzone.parentElement.getAttribute('data-column');
        if (isAdmin ||
          (sourceColumn === 'todo' && targetColumn === 'in-progress') ||
          (sourceColumn === 'in-progress' && targetColumn === 'done')) {
          dropzone.appendChild(draggingCard);
        }
      });
    });
  </script>
</body>

</html>
